bower_components

ti_zi/config/config.py
ti_zi/coverage_html_report
running/handle/*.pid
running/supervisor/*.conf

.idea
venv*
*.pyc
*.log
*.log.*
.cache
.coverage
.qiniu_pythonsdk_hostscache.json
celerybeat-schedule
celerybeat-schedule.db
celerybeat.pid
*.sqlite3
